body {
    background-image: url(./img/starwars-bg.jpg);
    background-size: cover;
    background-position: center;
    /* background-color: black; */
    font-family: 'News Cycle', sans-serif;
    color: #ff6;
    font-size: 16px;
}
.logo{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
.logoButton {
    width: 280px;
    height: 140px;
    background-image: url('./img/starwarsLogo.webp');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}
.buttons {
    display: flex;
   justify-content: center;
   margin-top: 25px;
   margin-bottom: 25px;
}
.films {
    display: flex;
    flex-direction: row;
    /* align-items: baseline; */
}
.btn {
    background-color: transparent;
    border: 0;
    color: #ff6;
    font-size: 42px;
    cursor: pointer;
    font-family: 'News Cycle', sans-serif;
    letter-spacing:.15em;
}
.btn-getPlanet {
    color: rgb(75, 213, 238);
    margin-left: 25px;
}

.btn-getInfo {
    width: 100px;
}
.characters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.charList {
    border: 1px solid rgb(75, 213, 238, 0.5);
    width: 250px;
    height: 200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
}
.planets {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.planetsInfo {
    max-width: 250px;
    max-height: 200px;
    height: 100%;
    width: 100%;
    border: 1px solid rgb(75, 213, 238, 0.5);
    margin-left: 15px;
    margin-bottom: 15px;
}

.colorBlue {
    color: rgb(75, 213, 238);
}
.planetsBtn {
    display: flex;
}
.btn-planets {
    background-color: transparent;
    color: #ff6;
    border: 0px solid rgb(75, 213, 238);  
}

.btnPlanets {
    display: flex;
}
.next {
    margin-left: 15px;
    cursor: pointer;
}
.prev {
    margin-right: 15px;
    cursor: pointer;
}

.hidden {
    visibility: hidden;
    display: none;
}

.active {
    visibility: visible;
    display: block;
}

.loaderText {
display: flex;
justify-content: center;
margin-bottom: 15px;
}

