.characters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.charList {
    border: 1px solid rgb(75, 213, 238, 0.1);
    padding-right: 15px;
    padding-left: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
}